<p id="notice"><%= notice %></p>

<h1>Questions</h1>
<h2>Contest Name: <%= @contest.name %></h2>

<table>
  <thead>
    <tr>
      <th>Question number</th>
      <th>Problem</th>
      <th>Answer</th>
      <th>Maximum score</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question_number %></td>
        <td><%= question.problem %></td>
        <td><%= question.answer %></td>
        <td><%= question.maximum_score %></td>
        <td><%= link_to 'Edit', edit_contest_question_path(@contest, question) %></td>
        <td><%= link_to 'Destroy', contest_question_path(@contest, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_contest_question_path %> |
<%= link_to 'Back to contest', contest_path(@contest) %>
