<p id="notice"><%= notice %></p>

<p>
  <strong>Question number:</strong>
  <%= @question.question_number %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @question.problem %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Contest:</strong>
  <%= @question.contest_id %>
</p>

<p>
  <strong>Maximum score:</strong>
  <%= @question.maximum_score %>
</p>

<%= link_to 'Edit', edit_contest_question_path(@contest, @question) %> |
<%= link_to 'Back', contest_questions_path %>
