<p id="notice"><%= notice %></p>
<h2>Contest name: <%= @contest.name %></h2>
<p>
  <ol>
    <% for qn in @contest.questions do %>
    <li><%= qn.problem %></li>
    <% end %>
  </ol>
</p>

<%= link_to 'Manage Questions', contest_questions_path(@contest) %> |
<%= link_to 'Edit Contest', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
