<p id="notice"><%= notice %></p>

<p>
  Name: <%= @contest.name %>
  <ol>
    <% for qn in @questions do %>
    <li><%= qn.problem %></li>
    <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
