<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @submission.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @submission.question_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @submission.answer %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @submission.marks %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
